#
.DS_Store
backup2Diskstation.sh
debug/
data/OUTPUT/
data/LOGS/
docs/*.pptx
*.txt
lib_AE/
boundary_layer_code/
PyInstaller/
setup.py
.vscode/
__pycache__/
SU2/
todo.txt
environment.yml
launch.json
requirements.txt
