cached-property==1.5.2
cftime==1.6.2
commonmark==0.9.1
dataclasses==0.8
fortran-language-server==1.12.0
future==0.18.2
h5py==3.7.0
importlib-metadata==4.11.4
meshio==5.3.4
netCDF4==1.6.1
numpy==1.23.3
pip==22.2.2
Pygments==2.13.0
PySide6==6.3.2
PySide6-Addons==6.3.2
PySide6-Essentials==6.3.2
rich==12.5.1
scipy==1.9.1
setuptools==65.4.0
shiboken6==6.3.2
typing_extensions==4.3.0
wheel==0.37.1
zipp==3.8.1
